.swiper-button-next:after,
.swiper-button-prev:after{
  font-size: 24px;
  color: white;
}
.swiper-button-prev , .swiper-button-next{
  padding:0 20px;
  
}

 @media (max-width: 766px) {
  .swiper-button-next:after,
  .swiper-button-prev:after{
    font-size: 16px;
  }
  .swiper-button-prev , .swiper-button-next{
    padding:0 16px;
    
  }}